@import "variable.css";

@font-face {
  font-family: vazir;
  src: url("../../fonts/Vazir.woff");
  font-weight: normal;
}
@font-face {
  font-family: vazir;
  src: url("../../fonts/Vazir.woff2");
  font-weight: normal;
}
@font-face {
  font-family: vazir;
  src: url("../../fonts/Vazir-Bold.eot");
  font-weight: bold;
}
@font-face {
  font-family: vazir;
  src: url("../../fonts/Vazir-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: vazir;
  src: url("../../fonts/Vazir-Bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: vazir;
  src: url("../../fonts/Vazir-Medium.eot");
  font-weight: 500;
}
@font-face {
  font-family: vazir;
  src: url("../../fonts/Vazir-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: vazir;
  src: url("../../fonts/Vazir-Medium.woff2");
  font-weight: 500;
}

* {
  font-family: vazir;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  border: none;
}
.leaflet-control-zoom {
  display: none;
}

#app {
  width: 100%;
  height: 100%;
}
